.body {
    display: flex;
    margin: 0;
}

.container-one,
.container-two,
.container-three,
.container-fourth {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 400px;
    padding: 0 300px 0 300px;
}

.header-container,
.footer-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50px;
    padding: 0 300px 0 300px;

}

ul{
    list-style-type: none;
    display: flex;
    gap:20px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header-container,
.container-one,
.footer-container {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header-links,
.one-text {
    font-size: 18px;
    color: #e5e7eb;
}

.header-links {
    margin-left: auto;
    text-decoration: none;
    display: flex;
}

.one-heading{
    font-size: 48px;
    font-weight:bolder;
}

.container-one {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    flex:1 1 50%;
    height: 50%;
}

.right {
    flex:1 1 50%;
    background-color: gray;
    height: 50%;
    display:flex;
}

img{
    justify-content: center;

}

.one-heading {
    flex: 3 1 0;
}

.one-text {
    flex: 2 1 0;
}

.one-button {
    flex: 1 1 0;
    width:fit-content;
    color: white;
    background-color: #3b82f6;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    border: none;
}


.container-three {
    background-color: #e5e7eb;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


